
body{
    background: coral;
}
    
.lform{
    border:1px solid black;
    border-radius: 2%;
    background: rgba(0, 0, 0, 0.082); 
    margin: 0 auto;
    margin-top: 25%;
    padding:5%
}
.h1{
    color:white;
    margin-bottom:5%;
}
.lbtn{
    background: rgba(0, 0, 0, 0.082); 
}

